/**
* @name styles.css
* @author Aélion - Déc. 2019
* @version 1.0.0
**/

body {
    color: black;
    background-color: white;
}
#receipe-results table.table thead th{
    border-bottom: none;

}
#receipe-results table.table tfoot td[colspan="3"]{
    text-align: right; 

}
#receipe-results table.table tfoot td.total-receipe {
    font-weight: bold;
}